<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>
<br>
<title>Background-</title>
	<style>
		body {
			background: url(https://images-ext-1.discordapp.net/external/hV9FewD-tYqe0J4Dugss7AGFy3IpXJ8AsJWP0T7xmbo/https/wallpapercave.com/wp/wp2763910.gif?width=845&height=475) no-repeat fixed;
			background-size: 100%;
		}
	</style>
  

<center>
<div id="avatar2">
<img class="sunucusresmi" height="200" width="200" src="https://i.gifer.com/HJx3.gif">
</div><br>
<div class="testo">
<h1 class="text-light font-weight-light">Code İnventive</h1>
<h2 class="text-light font-weight-light">
Discord Developer Ve Kod Paylaşım
</h2>
<p class="h4 text-light font-weight-light">
Kodları Görebilmek İçin <a style="text-decoration:none" href="https://discord.gg/eKZpWpu" target="_blank">Discord Sunucumuza</a> Katılmanız Gerekmektedir
</p>
</div>
<p></p>
<div class="index-box">
<a href="/normal"><button type="button" class="btn btn-dark">JavaScript</button></a>
<a href="/altin"><button type="button" class="btn btn-dark">JavaScript +</button></a>
<a href="/elmas"><button type="button" class="btn btn-dark">JavaScript ++</button></a>
<a href="/hazir"><button type="button" class="btn btn-dark">Altyapı</button></a>
<a href="/sistemler"><button type="button" class="btn btn-dark">Abone Altyapı</button></a>
<br>
  <div class="container text-center">
<hr color="red">
<font color="red" size="5"><b>Kurucular</b></font>
<br><br>
<br><br>

<div class="row">
<div id="avatar2">
		<img class="avatar" height="150" width="150" src="https://cdn.discordapp.com/avatars/734046689505312829/a_5ccab8b64a535378e66c2abf7932f238.gif?size=1024">
		<br>
		<font color="white">Kayex İnventive#0001</font>
</div>
<div id="avatar2">
		<img class="avatar" height="150" width="150" src="https://cdn.discordapp.com/avatars/480385837087850496/a4f0d6ffa864697df8c17506ca84297e.png?size=1024">
		<br>
		<font color="white">Giyuu İnventive#3286</font>
</div>
</div>
</center>
